:root{
    --fuente-principal: 'Lato', sans-serif;
    --primario:#da595e;
    --obscuro:#484848;
    --claro:#fff;

    --hospedaje:#275154;
    --concierto:#da595e;
    --clase:#598dda;
    --paseo:#940ad4;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .logo img{
    max-width: 25%;
    max-height: 25%;
  }

body{
    font-family: var(--fuente-principal);
}
h1{
    font-size: 2.6rem;
    font-weight: 400;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.8rem;
}

.contenedor{
    max-width: 1100px;
    margin: 0 auto;
}
.hero{
    height: 100vh;
    background-image: url(../img/arriba.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-self: flex-start;
    align-items: center;
    padding-top: 1rem;
}
.navegacion a{

color: var(--claro);
text-decoration: none;
margin-right: 1rem;
}
.navegacion a:last-of-type{
    margin-right: 0;
}

.contenido-hero{
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: max-content auto;
}

.contenido-hero h1{
    grid-column: 2/3;
    color: var(--claro);
}
.contenido-hero form{
    grid-column: 2/3;
    grid-row: 2/3;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 4rem;
}
form input[type="text"]{
    flex-grow: 1;
    border: none;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    background-image: url(../img/lupa.png);
    background-repeat: no-repeat;
    background-position: calc(1% + 1rem) calc(1% + .8rem);
    padding-left: 5rem;
    font-size: 1.6rem;
}

form input[type="submit"]{
      position: absolute;
      right: 1rem;
      top: .6rem;
      padding: .7rem 2rem;
      border: none;
      background-color: var(--primario);
      color: var(--claro);
      text-transform: uppercase;
      border-radius:10px ;
      font-size: 1.2rem;
      -webkit-border-radius:10px ;
      -moz-border-radius:10px ;
      -ms-border-radius:10px ;
      -o-border-radius:10px ;
}
.hospedaje{
    color: var(--hospedaje);
}
.concierto{
    color: var(--concierto);
}
.clase{
    color: var(--clase);
}
.paseo{
    color: var(--paseo);
}


.contenedor-cards{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
column-gap: 1rem;
}
.card img{
    width:100%;
}
.info .categoria{
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
}

.info .titulo{
    font-size: 1.6rem;
    font-weight: 900;
    margin: 0;
}

.info .precio{
    color: var(--obscuro);
    font-size: .9rem;
}
.premiun{
    background-image: url(../img/hospedaje-pro.jpg);
    background-repeat: no-repeat;
    grid-template-columns: unset;
    height: 30rem;
    background-position: center right;
}
@media only screen and (min-width:768px) {
    .premiun{
        grid-template-columns: auto 30%;
    }
    .premiun .info{
        grid-column: 2/3;
    }
}
.premiun .info{
    display: flex;
align-self: center;
flex-direction: column;
padding: 1rem;
}
.premiun .info h3{
    text-align: center;
   
    font-size: 2.2rem;
}
@media only screen and (min-width:768px) {
    .premiun .info h3{
        text-align: right;
    }
}
.boton{
    text-decoration: none;
    background-color: var(--claro);
    color: var(--obscuro);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    /*height: 2rem;
    */border: none;
    display: block;
    padding:1rem 0 1rem 0;
    font-size: 1.4rem;
    font-weight: 400;
    -webkit-box-shadow: 4px 0px 18px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 0px 18px 6px rgba(0,0,0,0.75);
    box-shadow: 4px 0px 18px 6px rgba(0,0,0,0.75);
    transition: all 1s ease-in-out ;
    -webkit-transition: all 1s ease-in-out ;
    -moz-transition: all 1s ease-in-out ;
    -ms-transition: all 1s ease-in-out ;
    -o-transition: all 1s ease-in-out ;
}
.boton:hover{
    background-color: var(--primario);
    color: var(--claro);
}

.destinos .contenedor-cards{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.destinos .card{
    position: relative;
}
.destinos .info{
    position: absolute;
    bottom: 1rem;
    left: 1rem;

}
.destinos .info p{
    color: white;
    font-size: 1.5rem;
}


.nav-footer{
    padding: 1rem;
}
.nav-footer h3{
    font-size: 1.2rem;
}
.nav-footer a{
    display: block;
    margin-bottom: .5rem;
    text-decoration: none;

    color: var(--obscuro);
}
.nav .footer a:last-of-type{
    margin: 0;
}
.sociales ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* justify-content: flex-end;
    justify-content: center; */
    margin:  0;
    padding: 0;
    flex:1 0 auto;
    list-style: none;
  
}
.sociales ul li {
    margin-right: 1rem;
}
.sociales ul li:last-of-type {
    margin-right: 0;
}
.sociales ul li a {
    text-decoration: none;
   
}
.sociales ul li a:before {
    font-family: "Font Awesome 5 Brands";
    color: var(--obscuro);
    font-size: 1.8rem;
    
}
.sociales ul li a[href*='facebook.com']::before {
    content: "\f39e";
}

.sociales ul li a[href*='twitter.com']::before {
    content: "\f099";
}
.sociales ul li a[href*='youtube.com']::before {
    content: "\f431";
}
.sociales ul li a[href*='instagram.com']::before {
    content: "\f16d";
}
.sociales ul li a[href*='pinterest.com']::before {
    content: "\f231 ";
}
.sociales ul li span{
    display: none;
}
.btn-flotante{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--claro);
    color: var(--obscuro);
    padding: .5rem 2rem;
    text-decoration: none;
    box-shadow: 4px 0px 18px 6px rgba(0,0,0,0.75);
    
}
.btn-flotante.activo,
.btn-flotante:hover{
background-color: var(--primario);
color: var(--claro);
}

footer{
    position: fixed;
    bottom: -100%;
    background-color: var(--claro);
    width: 100%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transition:all .3s ease-in ;
    -webkit-transition:all .3s ease-in ;
    -moz-transition:all .3s ease-in ;
    -ms-transition:all .3s ease-in ;
    -o-transition:all .3s ease-in ;
}
.footer.activo{
    bottom: 0;
}